.tasksSection__list {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    grid-area: list;
}

.tasksSection__listItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--appGrayColor)
}

.tasksSection__listItem--hidden {
    display: none;
}

.tasksSection__listItemButton {
    flex-basis: 30px;
    flex-shrink: 0;
    height: 30px;
    padding: 3px;
    border: none;
    cursor: pointer;
    color: white;
    transition: background-color 0.15s;
}

.tasksSection__listItemButton--delete {
    background-color: red;
    font-weight: 700;
}

.tasksSection__listItemButton--done {
    background-color: green;
}

.tasksSection__listItemButton--delete:hover {
    background-color: hsl(0, 100%, 65%);
}

.tasksSection__listItemButton--done:hover {
    background-color: hsl(120, 100%, 30%);
}

.tasksSection__listItemText {
    flex-grow: 1;
    margin: 20px 10px;
}

.tasksSection__listItemText--done {
    text-decoration: line-through;
}