.newTaskSection {
    background-color: white;
}

.newTaskSection__title {
    font-size: 22px;
    border-bottom: 1px solid var(--appGrayColor);
    padding: 15px;
    margin-bottom: 0;
}

.newTaskSection__form {
    display: flex;
    padding: 15px;
}

@media (max-width:515px) and (orientation:portrait) {
    .newTaskSection__title {
        text-align: center;
    }
    .newTaskSection__form {
        flex-wrap: wrap;
    }
}